.image-cropper {
    border-radius: 50%;
}

.mainView{
	background-color: #D2EA7F;
	height: 10em;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 10em;
	max-height: 10em;
    height: 100%;
    width: auto;
}

textarea {
    resize: none;
}

.loading {
	text-align: center;
}

.top-bar {
	background-color: 
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #4C2474;
}
.wrapper {
  	background-color: #F4DB85;
  	margin-top: 2em;
  	overflow: auto;
  	padding-bottom:2em;
  	padding-top: 2em;
}
.footer,
.push {
	background-color: #825FA5;
	margin-top: 2em;
  	text-align: center;
}

a{
	color:#4C2474;
}

a:hover {
	color:#825FA5;
}

hr{
	border:solid #4C2474;
	border-width: 1px 0 0;
}

button{
	color: #4C2474 !important;
	border:0.05em solid black !important;
	background-color: #D2EA7F !important;
}

button:hover{
	color: #825FA5 !important;
	border:0.05em solid black !important;
	background-color: #A7C249 !important;
}

.competitionItem{
	text-align: center;
	margin: 1em 1em 1em 1em;
	border:0.1em solid black;
	background-color: #EEE9EF;
}

.competitionItem:hover{
	text-align: center;
	margin: 1em 1em 1em 1em;
	border:0.1em solid black;
	background-color: #FFEFAA;
}