<div class="large-6 columns large-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="register(form_username, form_name, form_email)" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="form_username" required />
            <span ng-show="form.form_username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="form_name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="form_name" required />
            <span ng-show="form.form_firstname.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="username">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="form_email" required />
            <span ng-show="form.form_email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
