<div ng-init="teamData.getData()">
	<div class="large-8 columns" id="leftTeam">
		<div id="teamInfo">
			<ul class="small-block-grid-2 animate-container">
				<li>
					<img class="image-cropper" src="{{ td.Team.ImgLink }}" alt="Team Image">
				</li>
				<li>
					<h4>{{ td.Team.Name }}</h4>
					<h5>{{ td.Team.Tag }}</h5>
				</li>
			
			</ul>
			<pre>This is your image link:</pre>
			<input ng-model="update_imglink" type="text">
			<pre>This is your teams description:</pre>
			<textarea ng-model="update_desc" rows="4"></textarea>
			<a ng-click="updateTeam(update_imglink, update_desc)">Update Info as provided</a>
		</div>
		<div id="teamUsers">
		<hr>
			<accordion>
			    <accordion-group heading="Manage Team" is-open="true">
					    <pre>Username: {{selected | json}}</pre>
    <input type="text" ng-model="selected" placeholder="Look up a username" typeahead="user.Username for user in userData.lookUp($viewValue)" class="form-control">
					    <a ng-click="userData.addUserTeam(selected)">Add selected User</a>
			      		<hr>
			      		<label class="checkbox">
							<input type="checkbox" ng-model="confirmDelete">
							I agree to delete my team.
						</label>
			      		<a ng-click="deleteTeam(confirmDelete)">Delete Team</a>
			    </accordion-group>
			    <div ng-repeat="user in td.User">
			    	<accordion-group is-open="isopen">
				        <accordion-heading>
				            {{ user.Name }}
				        </accordion-heading>
				        <a ng-click="userData.removeUserTeam(user.ID)">Remove User</a>
				    </accordion-group>
			    </div>

			</accordion>
		</div>
		
	</div>
	<div class="large-4 columns" id="rightTeam" ng-init="compData.getData()">
		<div id="teamComp">
		<h5>The team is in:</h5>
			<accordion>
			    <div ng-repeat="item in cd">
			    	<accordion-group is-open="isopen">
				        <accordion-heading>
				        	{{ item.gameName }} {{ item.compDate }}
				        </accordion-heading>
				        <pre>Description:</pre>
				        <p>{{ item.compDescr }}</p>
				        <pre>Prizes:</pre>
				        <p>{{ item.Prize }}</p>
				        <hr>
				        <a ng-click="userData.removeUserTeam()">Exit Competition</a>
				    </accordion-group>
			    </div>

			</accordion>
		</div>
	</div>
</div>